*, *:before, *.after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Georgia, "Times New Roman", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif;
  text-align: center;
  margin: auto;
  color: #555;
}

h1 {
  margin: 1em auto;
}

input {
  display: block;
  margin: 1em auto;
  max-width: 25em;
  width: 85%;
  height: 46px;
  font-size: 1em;
  color: #555;
  line-height: 1.33;
  border-radius: 1px;
  border: 1px solid #dddddd;
  outline: 0 none;
  padding: 0.5rem 0.8rem;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;3s ease;
  outline: 0 none;
}
input:hover, input:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(221, 221, 221, 0.6);
}

#n-psd {
  margin-top: 2em;
  margin-bottom: 3em;
}
